html,
body {
  font-family: 'Nunito Sans', sans-serif;
  color: #2E2E30; }

.wrapper {
  margin: 0 auto; }

.navbar {
  background: transparent;
  padding: 0 4.5rem; }
  .navbar__bazen-brand {
    font-size: 1.8rem;
    font-weight: 900;
    margin-right: auto;
    color: #000; }
  .navbar__item--gray a {
    color: #2E2E30;
    font-size: 1rem; }

.g7-cover {
  background: url("../assets/img/cover-1.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 80vh;
  overflow: hidden; }
  .g7-cover__title {
    font-size: 5.3rem;
    font-weight: bolder;
    padding-top: 453px;
    color: #F5F6F8;
    letter-spacing: -1px;
    line-height: 94px; }

.our-goal {
  margin-top: 6rem;
  background: #EDEFF4; }
  .our-goal__title {
    margin-top: -2rem; }
  .our-goal__title--1 {
    font-size: 4.3rem; }
  .our-goal__title--2 {
    font-size: 4.5rem;
    font-weight: bold; }
  .our-goal__agency {
    margin: 0;
    font-size: 0.8rem; }
  .our-goal__text {
    font-family: "PT Serif Caption";
    line-height: 1.8rem;
    color: #808081; }

.masonry {
  background: #393939; }

.masonry-grid__item--1 .img {
  background-color: #60CEEE;
  height: 40.5rem; }

.masonry-grid__item--1 .title {
  height: 16.1rem;
  text-align: center;
  padding-top: 2rem;
  color: #999999; }

.masonry-grid__item--2 .img {
  background-color: #C6E2E9;
  height: 20rem; }

.masonry-grid__item--2 .title {
  height: 16.1rem;
  text-align: center;
  padding-top: 2rem;
  color: #999999; }

.masonry-grid__item--3 .img {
  background-color: #FF994E;
  height: 40.5rem; }

.masonry-grid__item--3 .title {
  height: 16.1rem;
  text-align: center;
  padding-top: 2rem;
  color: #999999; }

.masonry-grid__item--4 .img {
  background-color: #D0E6FC;
  height: 20rem; }

.masonry-grid__item--4 .title {
  height: 16.1rem;
  text-align: center;
  padding-top: 2rem;
  color: #999999; }

.masonry .masonry-grid h5 {
  color: #2E2E30; }

.footer {
  height: 33.5rem;
  background-color: #F5F6F8;
  text-align: center; }
  .footer__content h1 {
    text-align: center;
    font-family: "PT Serif Caption";
    font-size: 3rem;
    line-height: 61px;
    color: #151515; }
  .footer__content p {
    text-align: center;
    color: #999999;
    font-family: "Nunito Sans";
    font-size: 15px;
    line-height: 20px; }
